* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family:  JetBrains Mono Medium;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  font-size: 11px;
  margin: 2px;
  border-radius: 5px;
}

#workspaces button {
  color: #45475a;
  padding: 8px;
}

#workspaces button.active {
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #cdd6f4;
  background-color: #181825;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#battery,
#backlight,
#network,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 13px;
  background-color: #1e1e2e;
  color: #181825;
  font-size: 11px;
}

@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

#battery {
  color: #cdd6f4;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging {
  color: #a6e3a1;
}

#memory {
  color: #fab387;
}

#network {
  color: #94e2d5;
  padding-right: 17px;
}

#clock {
  color: #cdd6f4;
  font-size: 11px;
}

tooltip {
  border-radius: 4px;
  padding: 15px;
  background-color: #181825;
}

tooltip label {
  padding: 5px;
  background-color: #181825;
}
